.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  /* background: rgba(255, 255, 255, 0.08);

  box-shadow: 0 10px 40px rgba(0,0,0,0.25); */
}

/* Judul */
.container h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Search */
.container input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-bottom: 25px;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Card Wrapper (kalau belum ada di CardHadis.css) */
.hadis-card {
  background: white;
  color: white ;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  transition: 0.3s ease;
}

/* Navigation */
.nav-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.nav-buttons span {
  font-size: 14px;
}

.btn-next {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-next:hover{
    transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.btn-prev {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #64748b, #475569);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-prev:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.btn-prev:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}
