.hadis-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;

}

.bookmark-card {
  padding: 20px;
  border-radius: 16px;
  background: black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.detail-btn{
    cursor: pointer;
}

.hapus-btn{
  cursor: pointer;
}