.app-wrapper{
        background: linear-gradient(
        135deg,
        #0c0c0c 0%,
        #1a1a2e 15%,
        #16213e 35%,
        #0f3460 50%,
        #533a7d 70%,
        #8b5a8c 85%,
        #a0616a 100%);
}

.category-card {
  background: rgba(225, 242, 253, 0.08);
  border: 1px solid rgba(225, 215, 0, 0.2);
  color: #f6f3eb;
  border-radius: 18px;
  padding: 25px 15px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.5);
    border-color: rgba(225, 215, 0, 0.8);
    cursor: pointer;
}

.category-card .icon {
  font-size: 34px;
  margin-bottom: 10px;
}

.category-card h3 {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.category-card p {
  font-size: 13px;
  opacity: 0.8;
}