.bookmark-btn{
  margin: 50px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #e6eaf5;
  transition: 0.3s ease;
}

.bookmark:hover {
  transform: scale(1.05);
    cursor: pointer;
}

.bookmark.active {
  background-color: #4f7cff;
  color: white;
}
