.search {
  width: 70%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  outline: none;

  background: rgba(255,255,255,0.15);
  color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: rgba(255,255,255,0.7);
}
