.accordion-btn {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background: #324b5c;
  margin-top: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.accordion-btn:hover {
  background-color: #728693d5;
  transition: .2s ease-in-out;
   transform: translateY(-3px);
}

.panel {
  padding: 10px;
  margin: 10px;
  background: rgba(101, 91, 91, 0.34);
  border-radius: 10px ;
}